@(timesheetForm:Form[Timesheet],store:Store,emp:Employee)
 @import helper._ 
 @import helper.twitterBootstrap._
    

 @main{

	<div class="wrapper">
     	<div class="container" >
			 <div class="row">
            	<div class="span12">
               		 <span>
                    	<div id="bc1" class="btn-group btn-breadcrumb">
       						<a href="@routes.Application.index()" class="btn btn-success"><i class="icon-home"></i></a>
            				<a href="@routes.Application.showOptions("EMP TIMESHEET","ALL")" class="btn btn-default">EMP TIMESHEET</a>
            				<a href="#" class="btn btn-default">ADD</a>
      					</div>
        			</span>
            		<span class="pull-right" style="padding-right:50px;">
           				 <div>
           					<a href="@routes.Application.showOptions("EMP TIMESHEET","ALL")" class="btn btn-default"><i class="icon-arrow-left"></i>BACK</a>
          				 </div>
        			</span>
        		</div>
        	</div>
         	<br><br>
         	
         	@if(flash.containsKey("success")) {
       			<div class="alert alert-warning">
            		<strong>Done!</strong> @flash.get("success")
        		</div>
    		}
	
  
  	@helper.form(action = routes.Timesheets.saveForsk(store.id), 'id -> "timesheetForm", 'onsubmit -> "return checkTimesheetExists();") {
		

		<h2>Time Sheet </h2>
		<hr/>
		<br/>
		<br/>
		
		
        	
          			<div class="table-responsive"> 
        				<table class="table table-bordered" style="background-color: white;border-color: #fff;">
        					<tr>
								<td> 
									<div class="clearfix  " id="empName_field">
									    <label for="empName">Employee</label>
									    	<div class="input">
									        
									    		<input type="text" value="@emp.firstName.@emp.lastName"  readonly='readonly'/> 
									
									        <span class="help-inline"></span>
									    </div>
									</div>
								
								 	<input type="hidden" name="empid" id="empid" value="@emp.id"  readonly='readonly'/>
								</td>
								<td>
									<div class="clearfix  " id="date_field">
		    							<label for="date">Start Date</label>
		    								<div class="input">
		        
		    									<input type="text" id="timesheetStartDate" name="date" class="startDatePicker" required />
		
		        
		    								</div>
									</div>
								</td>
								<td>
								<div class="clearfix  " id="endDate_field">
	    							<label for="endDate">End Date</label>
	    								<div class="input">
	        
	    									<input type="text" id="timesheetEndDate" name="endDate" class="endDatePicker" required />
	
	    								</div>
									</div>
								</td>
								<td>
									 <input type="checkbox" name="applyLeave" id="applyLeaveCheckBox" /> Leave
									 
									<div class="clearfix" id="leaveType_field" style="display:none;">
    									<label for="leaveType">Leave Type</label>
    										<div class="input">
    											<select id="leaveType" name="leaveType">
    												 <option class="blank" value="None">-- Choose Type --</option>
										             <option value="AL" >AL</option>
							                         <option value="SL" >SL</option>
							                         <option value="PH" >PH</option>
							                    </select> 
    										</div>
									</div>
								
								</td>
								
									<input type="hidden" name="firmid" value="@store.id"/>
								
							</tr>
							<tr>
								
								<td>
									<div class="clearfix  " id="timesheetStartTime_field">
    									<label for="timesheetStartTime">Start Time</label>
    										<div class="input">
    											<select id="startTimeHour" name="startTimeHour" required onblur="durationFromStartEnd()">
    												 <option class="blank" value="">-- Hour --</option>
										             @for(i <- 0 to 9) {
    													<option value="0@i" >0@i</option>
													 }
													  @for(i <- 10 to 23) {
    													<option value="@i" >@i</option>
													 }
							                    </select>
							                    <select id="startTimeMins" name="startTimeMins" required onblur="durationFromStartEnd()">
    												 <option class="blank" value="">-- Min's --</option>
										             <option value="00" >00</option>
							                         <option value="15" >15</option>
							                         <option value="30" >30</option>
							                         <option value="45" >45</option>
							                    </select> 
    										</div>
									</div>
								</td>
								
								<td>
									<div class="clearfix  " id="timesheetEndTime_field">
    									<label for="timesheetEndTime">End Time</label>
    										<div class="input">
    											<select id="endTimeHour" name="endTimeHour" required onblur="durationFromStartEnd()">
    												 <option class="blank" value="">-- Hour --</option>
    												 @for(i <- 0 to 9) {
    													<option value="0@i" >0@i</option>
													 }
													  @for(i <- 10 to 23) {
    													<option value="@i" >@i</option>
													 }
    												
							                    </select>
							                    <select id="endTimeMins" name="endTimeMins" required onblur="durationFromStartEnd()">
    												 <option class="blank" value="">-- Min's --</option>
										             <option value="00" >00</option>
							                         <option value="15" >15</option>
							                         <option value="30" >30</option>
							                         <option value="45" >45</option>
							                    </select> 
    										</div>
									</div>
								</td>
								
								<td>
									@helper.inputText(timesheetForm("duration"), '_label -> "Duration", 'readonly -> "readonly")
								</td>
								
								<td>
									
									@select(
				  				 timesheetForm("status"),
				  				 options(Seq("OPEN","SUBMITTED")),
				 				 '_label -> "Status", 'required -> "true", '_default -> "-- Select Status --"
								)</td>
								
							</tr>
							
						</table>
					</div>
            
      	
      	<!-- bottom div ,for submit and cancel button's -->
        <div style="height:50px; margin-right:50px;  margin-top:10px;">
        	<div>
            	<p style="text-align: right; /"><input type="submit" class="btn btn-large btn-success" style="padding-right:40px; padding-left:40px; text-align:center;">&nbsp;&nbsp;  
				
		    </div>
        </div>
        
    
    


	}<!-- form end -->
	
	</div>
	</div>

}<!-- main end -->

 
   