@(id: Long, userForm: Form[User], user: User)

@import helper._
 @import helper.twitterBootstrap._
 
@checkSelected(id:Long) = @{
    
    var result = ""
    for(role <- user.roles) {
       if(role.id==id){
       	
       	result = "selected"
       	}
    }
    result
}
 
@import java.lang.String; var fieldView = "";

@if(flash.get("pageAction").equals("VIEW") || flash.get("pageAction").equals("DELETE")){

	@{fieldView="disabled"}

}

@main{
 
	
	<div class="wrapper">
     	<div class="container" >
			 <div class="row">
            	<div class="span12">
               		 <span>
                    	<div id="bc1" class="btn-group btn-breadcrumb">
       						<a href="@routes.Application.index()" class="btn btn-success"><i class="icon-home"></i></a>
            				<a href="@routes.Application.showOptions("USER","ALL")" class="btn btn-default">USER</a>
            				<a href="#" class="btn btn-default">@flash.get("pageAction")</a>
      					</div>
        			</span>
            		<span class="pull-right" style="padding-right:50px;">
           				 <div>
           					<a href="@routes.Application.showOptions("USER",flash.get("pageAction"))" class="btn btn-default"><i class="icon-arrow-left"></i>BACK</a>
          				 </div>
        			</span>
        		</div>
        	</div>
         		 <br><br>


	@if(flash.containsKey("success")) {
        <div class="alert alert-warning">
            <strong>Done!</strong> @flash.get("success")
        </div>
    } 

   
 
	@helper.form(action = routes.Users.update(id)) {


	<!-- panel-group -->
	<div class="panel-group" id="accordion">
		
		<!-- panel-primary 1-->
   		<div class="panel panel-primary">
        	<div class="panel-heading">
            	<a data-toggle="collapse" data-parent="#accordion" href="#accordionOne">
          			<h4 class="panel-title">
          				<i class="icon-reorder"></i>&nbsp;
            			Edit User Details
            			<i class="icon-unlock icon-large pull-right"></i>
             		</h4>
             	</a>  
        	</div>
        	<div id="accordionOne" class="panel-collapse collapse in">
          		<div class="panel-body">
          			<div class="table-responsive"> 
        				<table class="table table-bordered" >
							<tr>
								<td> @helper.inputText(userForm("name"), '_label -> "Name",'readonly -> "readonly")	</td>
							</tr>
							<tr>
								<td> @helper.inputText(userForm("email"), '_label -> "Email",'readonly -> "readonly")	</td>
							</tr>
							<tr>
								<td> 
									<div class="clearfix  " id="roles[]_field">
    									<label for="roles[]">Roles</label>
    										<div class="input">
								
												<select id="roles[]" name="roles[]"  style="width:40%;" multiple>
					  								@for(role <- Role.all()) {
		                         						<option value=@role.id  @checkSelected(role.id)>@role.name </option>
		                                            } 
		                  						</select> 
						                    </div>
						             </div>
                  				</td>         
               				</tr>
						</table>
					</div>
            	</div>
        	</div>
      	</div><!-- panel-primary 1 End-->
      	
      	
      	 <!-- bottom div ,for submit and cancel button's -->
        <div style="height:50px; margin-right:50px;  margin-top:10px;">
        	<div>
            	<p style="text-align: right; /">  
				@if((flash.get("pageAction")).equals("MODIFY")){
					<input type="submit" class="btn btn-large btn-success" style="padding-right:40px; padding-left:40px; text-align:center;" onclick="return isRolesSelected()">&nbsp;&nbsp;
					
				}
				@if((flash.get("pageAction")).equals("DELETE")){
					
	 				<a href="@routes.Users.delete(id)" class="btn btn-danger" onclick="return confirm('Are you sure want to Delete ?')">Delete</a>
	 				
	 			}
 				</p>
		    </div>
        </div>
       
    
    </div><!-- panel-group End-->


}<!-- form end -->
	
	</div>
	</div>

}<!-- main end -->


