@(sid:Long)
@import helper._ 
@import helper.twitterBootstrap._

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script> 
	    <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/ui-darkness/jquery-ui.min.css" rel="stylesheet">
  <style>
    .datepicker{
     
    }
  </style>
  
<script>
	 
	 function enableThursday(date) {

		  var day = date.getDay();
		 // If day == 1 then it is MOnday
		 if (day == 4) {
		 
		 return [true] ; 
		 
		 } else { 
		 
		 return [false] ;
		 }
  
	}
	
	 $(function() {
		 $( ".datepicker" ).datepicker({
		     maxDate: new Date(),
		 beforeShowDay: enableThursday,dateFormat: "dd/mm/yy"
		 });
	 });
</script>

@main{
	
	<div class="wrapper">
     	<div class="container" >
			 <div class="row">
            	<div class="span12">
               		 <span>
                    	<div id="bc1" class="btn-group btn-breadcrumb">
       						<a href="@routes.Application.index()" class="btn btn-success"><i class="icon-home"></i></a>
            				<a href="#" class="btn btn-default">TIMESHEET</a>
      					</div>
        			</span>
            		<span class="pull-right" style="padding-right:50px;">
           				 <div>
           					<a href="" onclick="goBack()" class="btn btn-default"><i class="icon-arrow-left"></i>BACK</a>
          				 </div>
        			</span>
        		</div>
        	</div>
         		 <br><br>
         		 
         	@if(flash.containsKey("success")) {
		        <div class="alert alert-warning">
		            <strong>Done!</strong> @flash.get("success")
		        </div>
		    } 
	
	@helper.form(action = routes.Timesheets.getTimesheets()) {
	
			<div class="table-responsive">
  				<table style="background-color: white;border-color: #fff;" class="table table-bordered">
  					<tr>
					  	<td>
            				<b>@Store.find.byId(sid)</b>
							<input type="hidden" name="storeId" value="@sid" />
					  	</td>
					  	<td>
					  		<div class="clearfix" id="timesheetStartDate_field">
								<label for="timesheetStartDate">Week Date</label>
									<div class="input">
										<input type="text" name="timesheetWeekDate" class="datepicker" required  />
									    <span class="help-inline"></span>
									</div>
							</div>
					  	</td>
            		</tr>
            	</table>
         	</div>
		
        <center><input type="submit" value="Get Timesheets" class="btn btn-primary"></center>
        
        
	
	} <!-- form ends -->
		</div>
	</div>
	
} <!-- main ends -->
