@(id:Long, invoiceList : List[Invoice], startDate : Date, endDate : Date,supplierName:String,invoiceStatus:String)
@import helper._ 
@import helper.twitterBootstrap._

@currentDateFormat(currDate:Date) = @{
  import java.util.Calendar
  import java.text.SimpleDateFormat

 
  val curTimeFormat = new SimpleDateFormat("dd/MM/yyyy")

  curTimeFormat.format(currDate)
}

@main{

	<div class="wrapper">
     	<div class="container" >
			 <div class="row">
            	<div class="span12">
               		 <span>
                    	<div id="bc1" class="btn-group btn-breadcrumb">
       						<a href="@routes.Application.index()" class="btn btn-success"><i class="icon-home"></i></a>
       						<a href="@routes.InvoiceInventory.showUploadPage()" class="btn btn-default">INVOICE</a>
            				<a href="#" class="btn btn-default">UPLOADED</a>
      					</div>
        			</span>
            		<span class="pull-right" style="padding-right:50px;">
           				 <div>
           					<a href="@routes.InvoiceInventory.showUploadPage()" class="btn btn-default"><i class="icon-arrow-left"></i>BACK</a>
          				 </div>
        			</span>
        		</div>
        	</div>
         		 <br><br>
         		 
         	@if(flash.containsKey("success")) {
		        <div class="alert alert-warning">
		            <strong>Done!</strong> @flash.get("success")
		        </div>
		    } 
	
	@helper.form(action = routes.InvoiceInventory.displayUploadedForSK(id)) {
	<div class="panel panel-success" style="height:210px;border-color:#000000;" >
		<div class="panel-heading" style="background-color:#9fdf9f;height:60px;"><center> <h2 style="color:#000;margin-top: 5px">Get Invoice </h2></center></div>
	   		 <div class="panel-body" style="font-size: 16px;">
				<div class="table-responsive">
	  				<table style="background-color: #dff0d8;border-color:#000000;" class="table table-bordered">
	  					<tr>
	  						<td>
	  					
								<div class="clearfix  " id="date_field">
			    					<label for="date"><b style="font-size:15px;">Start Date :</b></label>
			    					<div class="input">
			    						
			        					<input type="text" name="invoiceStartDate" value="@currentDateFormat(startDate)" class="startDatePicker" required />
			    					</div>
								</div>
							</td>
							
							<td>
								<div class="clearfix  " id="endDate_field">
			    					<label for="endDate"><b style="font-size:15px;">End Date :</b></label>
			    					<div class="input">
			    						
			        					<input type="text" name="invoiceEndDate" value="@currentDateFormat(endDate)" class="endDatePicker" required />
			    					
			    					</div>
								</div>
								
							
							</td>
							
						  	<td>
	            					<input type="submit" value="Get Uploaded Invoices" class="btn btn-primary" style="margin-top:15px">
						  	</td>
			
		} <!-- form ends -->
							<td>
							@helper.form(action =routes.InvoiceInventory.getInvoicesBySupplierName()){
							<input type="number" value="@id" name="store_id" style="display:none;">
							<input type="search" id="searchboxInInvoice" name="s" value="@supplierName" placeholder="Filter by Supplier name..." style="margin-top: 18px;" required />
							<select name="invoice_status" id="invoice_statusInStore" /required>
								<option value="ALL">ALL</option>
								<option value="UPLOADED">UPLOADED</option>
								<option value="PROCESSED">PROCESSED</option>
								<option value="PAID">PAID</option>
							</select>
							<input type="submit" id="searchsubmitInInvoice" value="Filter by Supplier " class="btn btn-info" style="background-color:green;font-size:14px;">
							</td>
							</tr>
	            	</table>
	         	</div>
		</div>
	</div>
	}
	
		<!-- display list based on selected date -->
		
			@if(invoiceList.size() == 0) {
        
		        <div class="well">
		            <em>Nothing to display</em>
		        </div>
		        
		    } else {
		        <div class="table-responsive">
		        	<table class="table table-hover  table-striped"  style="background-color: beige;">
		        		<thead style="background-color: gainsboro;">
		                <tr>
		                    <th>File Name</th>
		                    
		                    <th>Uploaded Date</th>
		                    
		                    <th>InvoiceType</th>
		                    
		                    <th>Status</th>
		                    
		                </tr>
		            </thead>
		            <tbody>
		
		                @for(invoice <- invoiceList) {
		                    <tr>
		                        <td><a href="/INVOICEPROCESSINGSYSTEM/@invoice.filePath" class="fancyboxPDF" title="@invoice.fileName" onclick="OpenFancyBoxForJustView('@invoice.id');">@invoice.fileName</a></td>
		                        <td>@invoice.uploadedDate</td>
		                        <td>@invoice.invoiceType</td>
		                        <td>@invoice.status</td>
		                    </tr>
		                }
		
		            </tbody>
		         </table>
		       </div>
		        
		    }
	
		</div>
	</div>
			<input type="hidden" id="statusSelectedInStore" name="statusSelectedInStore" value="@invoiceStatus">
	
} <!-- main ends -->