@(dsrForm: Form[DailySalesReconciliation],dsrObject:DailySalesReconciliation, store: Store,shift:Shift)

@import helper._ 
@import helper.twitterBootstrap._

@currentDateFormat(currDate:Date) = @{
  import java.util.Calendar
  import java.text.SimpleDateFormat

 
  val curTimeFormat = new SimpleDateFormat("dd/MM/yyyy")

  curTimeFormat.format(currDate)
}

@display = @{

var result = "";
if(dsrObject.status.equals("SUBMITTED")){
result ="disabled";
}
result
}
	
@main{

	<div class="wrapper">
     	<div class="container" >
			 <div class="row">
            	<div class="span12">
               		 <span>
                    	<div id="bc1" class="btn-group btn-breadcrumb">
       						<a href="@routes.Application.index()" class="btn btn-success"><i class="icon-home"></i></a>
            				<a href="@routes.Application.showOptions("SHIFT","ALL")" class="btn btn-default">SHIFT</a>
            				<a href="#" class="btn btn-default">ADD</a>
      					</div>
        			</span>
            		<span class="pull-right" style="padding-right:50px;">
           				 <div>
           					<a href="@routes.Application.showOptions("SHIFT","ALL")" class="btn btn-default"><i class="icon-arrow-left"></i>BACK</a>
          				 </div>
        			</span>
        		</div>
        	</div>
         		 <br><br>
         		 
    @if(flash.containsKey("success")) {
        <div class="alert alert-warning">
            <strong>Done!</strong> @flash.get("success")
        </div>
    } 
     
@helper.form(action = routes.Shifts.save(shift.id,store.id,flash.get("pageAction")),'enctype -> "multipart/form-data", 'id -> "shiftForm", 'onsubmit -> "return verifyPayoutReqmnts();") {
	
	
	<h3>Shift Details</h3>
		
		<hr/>
		<br/>
	<div class="table-responsive">
		<table class="table table-bordered">
         <thead>
           <tr style="background-color:#58ACFA">
                   
             <th>Created Date</th>
             <th>Reporting Business Date</th>
             <th>Last Reporting Date</th>
             <th>Total Sales Reported</th>
             <th>Variance</th>
             <th>Status</th>
           </tr>
          </thead>
          <tbody>
             <tr>
               <td>@currentDateFormat(dsrObject.todayDate)</td>
                        
               <td>@currentDateFormat(dsrObject.reportingBusinessDate) </td>
                        
               <td>@DailySalesReconciliation.getLastReportingBusinessDate(store.id) </td>
                         
               <td> @DailySalesReconciliation.getTotalSalesAmount(dsrObject) </td>
                        
               <td> @DailySalesReconciliation.getVarianceAmount(dsrObject)</td> 	
                       	
                <td> @dsrObject.status  </td> 	
              </tr>
           </tbody>
       </table>
     </div>
	  <br>
	  
        	<ul class="tabs">
  			  <li class="active" rel="tab1">Sales</li>
  			  <li rel="tab2">Media Collected</li>
  			  <li rel="tab3">Variance by Media</li>
  		      <li rel="tab4">Register Payouts</li>
  			  <li rel="tab5">Payment Amounts</li>
			</ul>
	<div class="tab_container">
  	<h3 class="d_active tab_drawer_heading" rel="tab1">Sales</h3>
		<div id="tab1" class="tab_content">
		 	@if(store.salesHeads.size() == 0) {
			<div class="well">
				<em>Nothing to display</em>
			</div>
			} else {
        	   <table class="table table-bordered">
            		<thead>
 				  		<th style="background-color:#D0F5A9">Sales Heads</th>
                     	<th style="background-color:#D0F5A9">Sale Amount</th>
                     </thead> 
            		 <tbody>

                	  @for(saleshead <- store.salesHeads) {
                	  			<tr>
	                    			<td> @saleshead.name</td>
	                        		<td> <input type="text" id="@saleshead.name" class ="saleshead" name="@saleshead.name" value="0.00" ></td>
	                            </tr>
	                    
               		  }
               		  </tbody>
        		 </table>
      			}
		</div>
  		<!-- #tab1 -->
						
  	<h3 class="tab_drawer_heading" rel="tab2">Media Collected</h3>
  	<div id="tab2" class="tab_content">
 		@if(store.mediaTenderHeads.size() == 0) {
        <div class="well">
        	<em>Nothing to display</em>
        </div>
    	} else {
          <table class="table table-bordered">
            <thead>
				<th style="background-color:#D0F5A9">Media Tenders</th>
				<th style="background-color:#D0F5A9">Media Collects</th>
				<th style="background-color:#D0F5A9">Settlement Amount</th>
             </thead>
             <tbody>
             	@for(mediaTenderHead <- store.mediaTenderHeads) {
                <tr>	
	                <td> @mediaTenderHead.name</td>
	                <td> <input type="text" class="actual" name="@mediaTenderHead.name" value="0.00" ></td>
	                <td> <input type="text" class="settle" name="settle_@mediaTenderHead.name" value="0.00" ></td>                    
                </tr>
               	}
						<input type="hidden" class="actual_hidden" value="0.00"/>
						<input type="hidden" class="settle_hidden" value="0.00"/>
			</tbody>
          </table>
		 }
	</div>
  	<!-- #tab2 -->
  	<h3 class="tab_drawer_heading" rel="tab3">Variance by Media</h3>
  	<div id="tab3" class="tab_content">
    <table class="table table-bordered">
		<tbody>
			<thead>
				<th style="background-color:#D0F5A9">Media Variance</th>
				<th style="background-color:#D0F5A9"></th>
				<th style="background-color:#D0F5A9"></th>
				<th style="background-color:#D0F5A9"></th>
			</thead> 
			<tr>
				<td> Media Variance Amount</td>
				<td> <input type="text" id="shiftVariance" name="shiftVariance" class="shiftVariance" value="0.00" ></td>
				<td> Reason for Media Variance</td>
				<td> <input type="text" id="varReason" name="varReason" class="varReason" value="default" ></td>
			</tr>
		</tbody>
	</table>
  	</div>
  	<!-- #tab3 -->
  	<h3 class="tab_drawer_heading" rel="tab4">Register Payouts</h3>
  	<div id="tab4" class="tab_content">
	<p><label>Search Suppliers</label>
	<input class="text_field dropdown-toggle" id="paysupplierid" name="searchSuppliers" 
										placeholder="Search here for Suppliers" type="text" value="" 
										style="width:203px" onKeyUp="getPayoutSuppliers('REGISTERPAYOUT');"/></p>
					
	<p><label>Similar Supplier Names </label>
        <select class="text_field" id="suppliersid" name="similarSuppliers" size="5" style="width:510px;" onchange="addSuppDetails('REGISTERPAYOUT',@shift.id)" multiple></select> 
    </p>
	<table  id="payTabForm" class="table table-bordered">
		<thead>	
			<th style="background-color:#D0F5A9">Supplier Name</th>
			<th style="background-color:#D0F5A9">Supplier ABN</th>
			<th style="background-color:#D0F5A9">Total Invoice Amount</th>
			<th style="background-color:#D0F5A9">Expense Type</th>
			<th style="background-color:#D0F5A9">File Location</th>
			<th style="background-color:#D0F5A9">Reason</th>
			<th style="background-color:#D0F5A9"></th>
       </thead>
       <tbody>note
       </tbody>
	</table>
  	</div>
  	<!-- #tab4 -->
  	
  	<h3 class="tab_drawer_heading" rel="tab5">Payment Amounts</h3>
  	<div id="tab5" class="tab_content">
	@if(store.paymentTenders.size() == 0) {
		<div class="well">
		 	<em>Nothing to display</em>
		</div>
	} else {
      <table class="table table-bordered">
      <thead>
	 		<th style="background-color:#D0F5A9">Payment Tender</th>
	        <th style="background-color:#D0F5A9">Payment Amount</th>
      </thead> 
      <tbody>
       @for(paymentTender <- store.paymentTenders) {
	   	<tr>
		     <td> @paymentTender.name</td>
		     <td> <input type="text" id="@paymentTender.name" class ="paymentTender" name="@paymentTender.name" value="0.00" ></td>
	    </tr>
       }
       </tbody>
       </table>
      }
  	</div>
  	<!-- #tab5 -->
	</div>
	<!-- .tab_container -->
      			
      	
      	
      	<!-- bottom div ,for submit and cancel button's -->
        <div style="height:50px; margin-right:50px;  margin-top:10px;">
        	<div>
            	<p style="text-align: right; /"><input type="submit" id="btnSubmit" class="btn btn-large btn-success" style="padding-right:40px; padding-left:40px; text-align:center;">&nbsp;&nbsp;  
				
		    </div>
        </div>
        
        
        <!-- div foe expense id in javascript,display none -->
        
        	<div id="expense" style="display:none">
            	<select name="expId" id ="expId" >
               		@for(expenseHead <- store.expenseHeads) {
			        	<option value=@expenseHead >@expenseHead.name </option>
			         } 
                 </select> 
		    </div>
		    
		 
						
    
   
  
}<!-- form end -->

	</div>
	</div>

}<!-- main end -->
	