 @main{
   
         <div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="span12">
                      
                 	  <div class="content">
                            <div class="btn-controls">
                                <div class="btn-box-row row-fluid">
                                	 <div class="col-sm-4" col-md-4">
									      <div class="panel panel-success" >
									        <div class="panel-heading"><b>MANAGEMENT REPORTS</b></div>
                                				<div class="panel-body">
                                
				                                   <a href="@routes.ManagementReports.getReportsHome()"><img src="@routes.Assets.at("images/tabImages/reports.jpg")" class="img-responsive center-block" alt="Image" align="middle" style="width:60px;">
				                                        <p class="text-muted">
				                                            View Managed Reports</p>
				                                    </a>
                                    				</div>
                           					</div>
                           				</div>
                                    
                                   
                                       
                                </div>
                           </div>
                       </div> <!-- content -->
                  
                                               
				        <div class="footer" style="color: #999;padding: 385px 0 60px;">
				          <hr/>   
				            <div class="container">
				               <p  class="pull-right"> <b class="copyright">&copy; 2014 SRINI Group &nbsp;</b>All rights reserved.</p>
				            </div> <!-- container -->
				        </div> <!-- footer -->
        
       
       				</div> <!-- span 12 -->
        		</div> <!-- row -->
      		</div> <!-- container -->
     	</div> <!-- wrapper -->
	
}